.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* header */

.header {
    width: 1920px;
    height: 698px;
    background-image: url(./assets/Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    margin: 0;
}

/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

.btn-primary {
    background-color: #4E47FF;
    font-weight: 800;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
}

.nav-title {
    font-weight: 800;
    font-size: 34px;
}

.text-primary {
    color: #4E47FF;
}

nav ul li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

/* banner style */
.banner-title {
    font-weight: 800;
    font-size: 65px;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 36px;
}

/* 2ND SECTION */

.section-title {
    font-size: 42px;
    font-weight: 800;
}

.banner-description {
    font-size: 20px;
    font-weight: 400;
}

.section-image {
    width: 403px;
}
.section {
    display: flex;
    justify-content: space-around;
    margin: 0 150px 0 150px;
}
.section-text-content {
    max-width: 517px;
}
main {
    max-width: 1140px;
    margin: 0 auto;
}
.trust-Secondary-bg {
    border-radius: 24px;
    padding: 50px 140px;
    text-align: center;
    margin: 126px 150px;
    background-color: rgba(78, 71, 255, 0.1);

}
.trust-items {
    display: flex;
    justify-content: space-around;
}
.item-title {
    font-size: 80px;
    font-weight: 800;
}
.item-description {
    font-size: 20px;
    font-weight: 400;
}